<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">User Registration</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <!-----Registration Form------>
            <div class="fit-form">
                <form class="example-form" [formGroup]="registerForm">

                  <img src="assets\img\upload.jpg" height="150" width="150"><br>
                  <a routerLink="#">Uplod your photo</a><br>
                    <!--firstname-->
                    &nbsp;<div class="row">
                        &nbsp;<div class="col-md-4">
                            <input type="text" class="form-control" placeholder="First Name" formControlName="firstname">
                        </div>
                        <span class="err"*ngIf="registerForm.get('firstname')?.errors?.['required'] && !registerForm.get('firstname')?.valid && registerForm.get('firstname')?.touched">firstname
                            is required</span>
                        <!--lastname-->
                        &nbsp; &nbsp;<div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Last Name" formControlName="lastname">
                            <span class="err"*ngIf="registerForm.get('lastname')?.errors?.['required'] && !registerForm.get('lastname')?.valid && registerForm.get('lastname')?.touched">lastname is required</span>
                        </div>
                    </div><br>
                    <!---Email-->
                    <div class="col-md-4">
                        <input type="email" class="form-control" placeholder="EmailID" formControlName="email">
                        <span class="err" *ngIf="registerForm.get('email')?.errors?.['required'] && !registerForm.get('email')?.valid && registerForm.get('email')?.touched">email is required</span>
                    </div><br>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="+55-66778899" formControlName="contact">
                        <span class="err" *ngIf="registerForm.get('contact')?.errors?.['required'] && !registerForm.get('contact')?.valid && registerForm.get('contact')?.touched">contact is required</span>
                    </div>&nbsp;
                    <!--age-->
                    <div class="col-md-4">
                        <label>Age : </label>
                        <mat-slider min="20" max="100" step="1" showTickMarks discrete [displayWith]="formatLabel">
                            <input formControlName="age" matSliderThumb>
                        </mat-slider>
                        <span class="err" *ngIf="registerForm.get('age')?.errors?.['required'] && !registerForm.get('age')?.valid && registerForm.get('age')?.touched">age is required</span>
                    </div>
                    <!---State-->
                    &nbsp;<div class="col-md-4">
                        <select class="form-control" id="state" formControlName=state>
                            <option value="">States</option>
                            <option *ngFor="let state of states" [value]="state">{{state}}</option>     
                        </select>
                        <span class="err" *ngIf="registerForm.get('state')?.errors?.['required'] && !registerForm.get('state')?.valid && registerForm.get('state')?.touched">Please select state </span>

                    </div><br>
                    <!---Country-->
                    <div class="col-md-4">
                        <select class="form-control" id="country" formControlName="country">
                            <option value="">Country</option>
                            <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                        </select>
                        <span class="err" *ngIf="registerForm.get('country')?.errors?.['required'] && !registerForm.get('country')?.valid && registerForm.get('country')?.touched">Please select country </span>

                    </div> <br>
                    <!--Address-->
                    <div class="col-md-4">
                        <h3><label>Address Type:</label></h3>
                    <select class="form-control" formControlName="addressType">
                     <span class="err" *ngIf="registerForm.get('addressType')?.errors?.['required'] && !registerForm.get('addressType')?.valid && registerForm.get('addressType')?.touched">address type required </span>
                      <option value="home">Home</option>
                      <option value="company">Company</option>
                    </select>
                 
                    <!-- Home Address Fields -->
                        
           <div *ngIf="registerForm.get('addressType')?.value === 'home'"><br>
       <input  class="form-control" type="text"  formControlName="address1" placeholder="Home Add1"><br>
       <span class="err" *ngIf="registerForm.get('address1')?.errors?.['required'] && !registerForm.get('address1')?.valid && registerForm.get('address1')?.touched"> address is required </span>

      <input  class="form-control" type="text"  formControlName="address2" placeholder="Home Add2"><br>
    </div>
  <!-- Company Address Fields -->
  
  <div *ngIf="registerForm.get('addressType')?.value === 'company'"><br>
      <input type="text"  class="form-control"  formControlName="companyAddress1" placeholder="Comp Add1"><br>
      <span class="err" *ngIf="registerForm.get('companyAddress1')?.errors?.['required'] && !registerForm.get('companyAddress1')?.valid && registerForm.get('companyAddress1')?.touched"> address is required </span>

      <input type="text" class="form-control"  formControlName="companyAddress2" placeholder="Comp Add2"><br>
    </div>
     <!---Tag-->
                
                  
                        <mat-chip-grid #chipGrid aria-label>
                          <mat-chip-row   class="display-flex"*ngFor="let tag of tags" 
                                        (removed)="remove(tag)"
                                        [editable]="true"
                                        (edited)="edit(tag, $event)"
                                        [aria-description]="'press enter to edit ' + tag.name">
                            {{tag.name}}
                            <button  matChipRemove [attr.aria-label]="'remove ' + tag.name">
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip-row>
                          <input formControlName="tag" placeholder="tag.." class="form-control"
                                 [matChipInputFor]="chipGrid"
                                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                 [matChipInputAddOnBlur]="addOnBlur"
                                 (matChipInputTokenEnd)="add($event)"/>
                                 <span class="err" *ngIf="registerForm.get('tag')?.errors?.['required'] && !registerForm.get('tag')?.valid && registerForm.get('tag')?.touched"> tag is required </span>
 
                        </mat-chip-grid>
                 
                    </div><br>
                    <input type="checkbox">subscribe to newsletter&nbsp;
                    <button (click)="userregister()" class="btn btn-primary">Register</button>&nbsp;&nbsp;
                    <button  class="btn btn-light">Cancel</button>&nbsp;
                </form>
            </div>
            </div>
        </div>
    </div>
