
  
        <div class="col ps-2">
            <img src="../../assets/img/upload.jpg" alt="Profileimage" class="profile">
        </div>
        <span class=" name">{{userProfile.firstName}}</span>
        <span class=" name">{{userProfile.lastName}}</span>
                <div class="col-md-2">
                    <div class="btn-group" role="group">
                        <button type="button" class=" btn btn-outline-success"(click)="editUser()">Edit</button>
                        <button type="button" class="btn btn-outline-success" (click)="delUser()">Delete</button>

                    </div>

             
