

.navigation{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigator{
    padding-right: 200px;
    padding-top: 50x;

}
.err{
    color: red;
    font-size: small;
}


.container{
    width: 1000px;
    height: 800px;
 object-fit: cover;
 object-position: center; 
 }
 .homecontent{
     position: absolute;
     top: 20%;
     right: 40%;
     object-position: center;
 
 
 }
 .homecontent{
     color:rgb(8, 9, 10);
 }
 
