
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" formControlName="img">
      <img src="../assets/img/job-posting-icon-22.png" alt="Logo" width="40" height="40"
        class="d-inline-block align-text-top">
      <u><b>nokari4U</b></u></a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Enter your Job discription" aria-label="Search">
      <button class="btn btn-outline-success" type="submit"> Search</button>
    </form>
    <div class="navigator">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Register
     </button></div>
       </div></nav>


 
  <div class="homecontent">
      <h1>Find Your Career.You Deserve It....</h1>
  
  <div class=" row mat-4" *ngFor ="let userProfile of userProfileDisplay" >
    <app-userdisplay [userProfile]="userProfile" (onRemoveUser)="removeUserProfile($event)"></app-userdisplay>

<!-- Button trigger modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">User Register</h1>
       
      </div>
      <div class="modal-body">
        <div class="content">
          <form  class="fit-form" [formGroup]="registerForm">
          <img src="assets/img/upload.jpg">
                <input  type="file" formControlName="image" height="50" width="50" ><br>

                <a routerLink="#">Uplod your photo</a><br>
                  <!--firstname-->
                  &nbsp;<div class="row">
                      &nbsp;<div class="col-md-4">
                          <input type="text"  formControlName="firstName"  class="form-control" placeholder="First Name" >
                      </div>
                      <span class="err"*ngIf="registerForm.get('firstName')?.errors?.['required'] && !registerForm.get('firstName')?.valid && registerForm.get('firstName')?.touched">firstname
                          is required</span>
                      <!--lastname-->
                      &nbsp; &nbsp;<div class="col-md-4">
                          <input  type="text"  formControlName="lastName"  class="form-control" placeholder="Last Name">
                          <span class="err"*ngIf="registerForm.get('lastName')?.errors?.['required'] && !registerForm.get('lastName')?.valid && registerForm.get('lastName')?.touched">lastname is required</span>
                      </div>
                  </div><br>
                  <!---Email-->
                  <div class="col-md-4">
                      <input  type="email"  formControlName="email" class="form-control" placeholder="EmailID" >
                      <span class="err" *ngIf="registerForm.get('email')?.errors?.['required'] && !registerForm.get('email')?.valid && registerForm.get('email')?.touched">email is required</span>
                  </div><br>
                  <div class="col-md-4">
                      <input  type="tel" formControlName="contact"  class="form-control" placeholder="+55-66778899" >
                      <span class="err" *ngIf="registerForm.get('contact')?.errors?.['required'] && !registerForm.get('contact')?.valid && registerForm.get('contact')?.touched">contact is required</span>
                  </div>&nbsp;
                  <!--age-->
                  <div class="col-md-4">
                  <label>Age:</label>
                      <mat-slider min="20" max="100" step="1" showTickMarks discrete [displayWith]="formatLabel">
                          <input   type="range" formControlName="age" matSliderThumb>
                      </mat-slider>
                      <span class="err" *ngIf="registerForm.get('age')?.errors?.['required'] && !registerForm.get('age')?.valid && registerForm.get('age')?.touched">age is required</span>
                  </div>
                  <!---State-->
                  &nbsp;<div class="col-md-4">
                      <select type="option" formControlName="state" class="form-control"   id="state" >
                          <option value="">States</option>
                         <option *ngFor="let state of states" [value]="state">{{state}}</option>
                      </select>
                      <span class="err" *ngIf="registerForm.get('state')?.errors?.['required'] && !registerForm.get('state')?.valid && registerForm.get('state')?.touched">Please select state </span>

                  </div><br>
                  <!---Country-->
                  <div class="col-md-4">
                      <select   type="option" formControlName="country" class="form-control" id="country" >
                          <option value="">Country</option>
                         <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                      </select>
                   <span class="err" *ngIf="registerForm.get('country')?.errors?.['required'] && !registerForm.get('country')?.valid && registerForm.get('country')?.touched">Please select country </span>

                  </div> <br>
                  <!--Address-->
                  <div class="col-md-4">
                      <h3><label>Address Type:</label></h3>
                  <select  type="option"  formControlName="addressType" class="form-control" >
                   <span class="err" *ngIf="registerForm.get('addressType')?.errors?.['required'] && !registerForm.get('addressType')?.valid && registerForm.get('addressType')?.touched">address type required </span>
                    <option value="home">Home</option>
                    <option value="company">Company</option>
                  </select>
               
                  <!-- Home Address Fields -->
                      
         <div *ngIf="registerForm.get('addressType')?.value === 'home'"><br>
     <input    type="text" formControlName="address1" class="form-control"  placeholder="Home Add1"><br>
     <span class="err" *ngIf="registerForm.get('address1')?.errors?.['required'] && !registerForm.get('address1')?.valid && registerForm.get('address1')?.touched"> address is required </span>

    <input  type="text"   formControlName="address2" class="form-control" placeholder="Home Add2"><br>
  </div>
<!-- Company Address Fields -->

<div *ngIf="registerForm.get('addressType')?.value === 'company'"><br>
    <input type="text" formControlName="companyAddress1"    class="form-control"   placeholder="Comp Add1"><br>
    <span class="err" *ngIf="registerForm.get('companyAddress1')?.errors?.['required'] && !registerForm.get('companyAddress1')?.valid && registerForm.get('companyAddress1')?.touched"> address is required </span>

    <input  type="text" formControlName="companyAddress2" class="form-control"   placeholder="Comp Add2"><br>
  </div>
   <!---Tag-->
                      <mat-chip-grid #chipGrid aria-label>
                        <mat-chip-row   class="display-flex" *ngFor="let tag of tags" 
                                      (removed)="remove(tag)"
                                      [editable]="true"
                                      (edited)="edit(tag, $event)"
                                      [aria-description]="'press enter to edit ' + tag.name">
                          {{tag.name}}
                          <button  matChipRemove [attr.aria-label]="'remove ' + tag.name">
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip-row>
                        <input formControlName="tag" type="text"  placeholder="tag.." class="form-control"
                               [matChipInputFor]="chipGrid"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                               [matChipInputAddOnBlur]="addOnBlur"
                               (matChipInputTokenEnd)="add($event)"/>
                               <span class="err" *ngIf="registerForm.get('tag')?.errors?.['required'] && !registerForm.get('tag')?.valid && registerForm.get('tag')?.touched"> tag is required </span>
                      </mat-chip-grid>
                  </div><br>
                  <input type="checkbox" >subscribe to newsletter&nbsp;
                  <button type="button" (click)="userRegister()" class="btn btn-primary">Register</button>&nbsp;&nbsp;
                  <button type="button"  class="btn btn-light">Cancel</button>&nbsp;
              </form>
              <div>
              </div>
          
                   
        
                 
                          
              
                 
              

      </div>
    </div>
  </div>
</div>
